@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600;700&family=DM+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  background: linear-gradient(
90deg,
rgba(0, 0, 0, 0.95) 0%,
rgba(0, 0, 0, 0.596) 40%,
rgba(94, 105, 12, 0.277) 60%,
rgba(135, 119, 70, 0.434) 100%
),
    url('/fondo.png');

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000000;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: transparent;
}

/* Página general */
.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: transparent;
}

/* Contenido encima del fondo */
.page > * {
  position: relative;

}

/* Asegurar que las páginas no tapen el fondo */
main,
.pagina-inicio,
.pagina-proyectos,
.pagina-lotes,
.pagina-comunicados,
.pagina-nosotros,
.pagina-promociones {
  background: transparent;
}

/* Contenedor general */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Celular */
@media (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}